---
import DefaultLayout from "@layouts/DefaultLayout.astro";
---

<DefaultLayout showHeader={true} showFooter={true}>
  <div class="min-h-screen flex flex-col items-center space-y-8">
    <h1>Hello World!</h1>
  </div>
</DefaultLayout>
